/* src/views/productpage/productpage.css */
.product-page {
  padding: 20px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-item {
  background-color: white;
  border: 1px solid var(--neutral-light-gray);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.product-item img {
  max-width: 100%;
  border-radius: 10px;
}

.product-item h2 {
  color: var(--primary-brown);
}

.product-item p {
  color: var(--neutral-charcoal);
}

.product-item span {
  color: var(--neutral-charcoal);
  font-weight: bold;
}

.product-item button {
  background-color: var(--primary-green);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product-item button:hover {
  background-color: var(--accent-yellow);
  color: var(--neutral-charcoal);
}
