.footer-section__padding {
    border-top: #771d1d 5px solid;
}
.footer-social {
    background: #e9e1d3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px;
    font-size: small;
}
.footer-links_div {
    display: flex;
    flex-direction: column;
    border: #771d1d 1px solid;
    padding: 5px;
    border-radius: 5px;
    box-shadow: black 2px 2px 5px;
    align-items: center;
    margin-top: 1rem;
}
.footer-link-title {
    font-size: medium;
    color: #771d1d;
}
.footer-copyright {
    background: #e9e1d3;
    display: flex;
    justify-content: center; 
    color: #771d1d;
    align-items: center;
    padding: 5px;
    font-size: small;
}
.footer-logo {
    width: 100px; 
    height: auto; 
    opacity: 0.65; 
}
/* Mobile Specific Styling */
@media only screen and (max-width: 768px) {
    .footer-links_div {
        padding: 10px; 
    }
}