/* Header */
.contact-header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px;
    text-align: center;
}

/* Title Cards */
.contact-title {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2px;
    border-bottom: #02470b 2px solid;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: black 2px 2px 2px;
    width: 100%;
}

/* Content Cards */
.contact-content-card {
    background: #e9e1d3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    font-size: small;
}

.contact-content1,
.contact-content2,
.contact-content3 {
    display: flex;
    flex-direction: column;
    border: #771d1d 1.7px solid;
    border-radius: 5px;
    box-shadow: black 2px 2px 5px;
    align-items: center;
    width: 95%;
}

.contact-content {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    flex: 1 1;
    border-radius: 10px;
    text-align: center;
}

/* Additional Styles */
.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-info button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    margin: 5px 10px;
    border: 2px solid var(--tertiary-color);
    border-radius: 5px;
    cursor: pointer;
}

.contact-info button:hover {
    background-color: #02470b;
    padding: 10px 20px;
    margin: 5px 10px;
}

/* Additional Contact Page Styles */
.contact {
    background-color: var(--secondary-color);
}

.contact-title-head {
    background-color: var(--primary-color);
    color: var(--quaternary-color);
    padding: 20px;
}

.contact-title {
    border-bottom: var(--tertiary-color) 7px solid;
    border-width: 50%;
    background-color: transparent;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.contact-content-title {
    color: var(--primary-color);
    text-shadow: gray 2px 2px 2px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

.contact-content {
    text-align: center;
    margin-top: 20px;
}

.contact-content-address,
.contact-content-phone {
    margin-top: 10px;
}

.contact-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
