:root{
  font-family: 'Oswald', sans-serif;
  --primary-color: #771d1d;
  --secondary-color: #e9e1d3;
  --tertiary-color: #02470b;  
  --quaternary-color: #f7f7f7;
  width: 100dvw;
  background-color: var(--secondary-color);
  
}
p {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin: 0;
}
button:hover {
  border: 2px solid var(--tertiary-color);
  background-color: var(--tertiary-color);
  color: var(--quaternary-color);
}