/* Header Styling */
.header {
  color: #fff;
  padding: 10px;
  position: relative;
}

/* Header Title Styling */
.header-title {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.img {
  width: 25%;
  height: auto;
  vertical-align: middle;
}

/* Header Slogan Styling */
.header-slogan {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-green);
}

.cart-info {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-green);
}
