.header {
    background: #e9e1d3;
    display: flex;
    justify-content: center;
    color: #771d1d;
    align-items: center;
    flex-direction: column;

}
.banner {
    width: 100%;
    height: auto; 
    object-fit: cover;
}
.header-title {
    width: 100%;
    text-align: center; 
}
.header-title-card {
    width: 100%;
    background-color: white;
    position: relative; 
    top: auto;
    display: flex;
    justify-content: center;
}
.header-title-img {
    width: 25%; 
    height: auto;
}
.header-content {
    font-weight: bold;
    text-transform: capitalize;
    text-shadow: rgb(96, 92, 92) 1px 1px 1px;
    text-align: center;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .header-title-card {
        max-width: 80%; 
        margin-left: auto; 
        margin-right: auto;
    }
}
