/* Services Title */
.services-title {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 2px;
    border-bottom: #02470b 3px solid;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: black 2px 2px 2px;
    width: 100%;
}

/* Services Content */
.services-content {
background: #e9e1d3;
margin: 2px;
padding: 5px;
display: grid;
grid-template-columns: repeat(3, 1fr); /* Changed to three columns */
gap: 5px;
font-size: xx-large;
font-weight: bold;
text-align: center;
color: #771d1d;
}

/* Services Box */
.services-box1,
.services-box2,
.services-box3,
.services-box4 {
    display: flex;
    flex-direction: column;
    border: #771d1d 1.7px solid;
    border-radius: 5px;
    box-shadow: black 2px 2px 5px;
    align-items: center;
    width: 95%;
    font-size: large;
    font-weight: 700;
    text-align: left;
    background: white;
    padding: 4px;
}

/* Services Paragraph */
.services-paragraph1,
.services-paragraph2,
.services-paragraph3,
.services-paragraph4 {
    background-color: white;
    color: var(--primary-color);
    flex: 0 1;
    border-radius: 2px;
    text-align: center;
    border-bottom: 2px solid var(--primary-color);
}

/* Services List */
li {
    word-spacing: 1px;
    padding: 2px 0px 2px 5px;
    margin: 0;
    list-style-type: none;
}

/* Services Form */
.services-form {
    margin-top: 20px;
    grid-column: span 3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.services-form form {
    display: grid;
    gap: 10px;
}

.services-form label {
    color: var(--text-color);
}

.services-form input[type='text'],
.services-form input[type='email'],
.services-form input[type='submit'] {
    width: 100%;
    padding: 20px;
    border: 2px solid var(--tertiary-color);
    border-radius: 6px;
}

.services-form input


.services-form input[type='submit'] {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
}

.services-form input[type='submit']:hover {
    background-color: #02470b;
}
